In [1]:
# default imports
import numpy as np
import pandas as pd
import os, sys
import re
import matplotlib.pyplot as plt
print(os.getpid())

39684

In [2]:
readout_folder = r'\\wi-bigdata.wi.mit.edu\solexa_weissman\puzheng\References\Readouts'
R_readout_filename = os.path.join(readout_folder, 'R_readouts.xlsx')
readouts = pd.read_excel(R_readout_filename)

In [3]:
readouts

               Name              Sequence
0       R1__NDB_784  TAGAAATATCCGAGTGGCAT
1       R2__NDB_755  TGCGACATGTTATGCTAGGC
2       R3__NDB_759  TGACTGTCGTTGACTCTCGG
3       R4__NDB_826  ATATGTCGATGTCCTTAGAC
4       R5__NDB_578  AGGCGATACATGAGAGGCGT
..              ...                   ...
139   R140__NDB_482  CATCGCCTTAAACGGTTAAT
140   R141__NDB_747  GTCTTCGAGGTGTATGCTCG
141   R142__NDB_832  GTTATTTGATCGAGACGCTG
142   R143__NDB_446  TGCCGTTCCATAGTTTACCG
143  R144__NDB_1047  CGTTTAGTTTGGCGGCGCTC

[144 rows x 2 columns]

In [4]:
from Bio.Seq import reverse_complement

In [5]:
seq_rc = [reverse_complement(_seq) for _seq in readouts['Sequence']]
readouts['Synthesized sequence'] = seq_rc

In [6]:
readouts

               Name              Sequence  Synthesized sequence
0       R1__NDB_784  TAGAAATATCCGAGTGGCAT  ATGCCACTCGGATATTTCTA
1       R2__NDB_755  TGCGACATGTTATGCTAGGC  GCCTAGCATAACATGTCGCA
2       R3__NDB_759  TGACTGTCGTTGACTCTCGG  CCGAGAGTCAACGACAGTCA
3       R4__NDB_826  ATATGTCGATGTCCTTAGAC  GTCTAAGGACATCGACATAT
4       R5__NDB_578  AGGCGATACATGAGAGGCGT  ACGCCTCTCATGTATCGCCT
..              ...                   ...                   ...
139   R140__NDB_482  CATCGCCTTAAACGGTTAAT  ATTAACCGTTTAAGGCGATG
140   R141__NDB_747  GTCTTCGAGGTGTATGCTCG  CGAGCATACACCTCGAAGAC
141   R142__NDB_832  GTTATTTGATCGAGACGCTG  CAGCGTCTCGATCAAATAAC
142   R143__NDB_446  TGCCGTTCCATAGTTTACCG  CGGTAAACTATGGAACGGCA
143  R144__NDB_1047  CGTTTAGTTTGGCGGCGCTC  GAGCGCCGCCAAACTAAACG

[144 rows x 3 columns]

In [7]:
R_readout_savefile = os.path.join(readout_folder, 'R_readouts_updated.xlsx')
readouts.to_excel(R_readout_savefile, index=None)

# Common readouts

In [10]:
common_readouts = pd.DataFrame(
    {'Name':['Stv82', 'Stv1', 'Stv79'], 'Sequence':['GTCAAGGACGGCAGTGCAAA','GGGACGGTTCCAATCGGATC',
                                                    'TGAAAGCCGGACAGTTCGCA']}
)
common_readouts['Sequence_rc'] = [reverse_complement(_seq) for _seq in common_readouts['Sequence']]

In [12]:
common_readouts

    Name              Sequence           Sequence_rc
0  Stv82  GTCAAGGACGGCAGTGCAAA  TTTGCACTGCCGTCCTTGAC
1   Stv1  GGGACGGTTCCAATCGGATC  GATCCGATTGGAACCGTCCC
2  Stv79  TGAAAGCCGGACAGTTCGCA  TGCGAACTGTCCGGCTTTCA

In [13]:
# save
common_readout_filename = os.path.join(readout_folder, 'common_readouts.xlsx')
common_readouts.to_excel(common_readout_filename, index=None)